<?xml version="1.0" encoding="UTF-8" ?>

<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2015 Amasty (http://www.amasty.com)
 * @package Amasty_HelloWorld
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Magento/Store/etc/config.xsd">
    <default>
        <amasty_helloworld>
            <general>
                <enable>1</enable>
                <block_label><!-- No default value-->
                    <!--<img src="http://pngimg.com/uploads/google/google_PNG19632.png" height="30" width="30" class="img-thumnail" alt="Google Logo"/>-->
                    <!--<img src="http://localhost/img/ProfilePics.jpg"/>-->
                    <!--http://localhost/img/ProfilePics.jpg-->
                    Block Text Label
                </block_label>
                <text_align>left</text_align>
            </general>
        </amasty_helloworld>
    </default>
</config>
